<form action="/login", method="POST">
  <label>Username:</label>
  <input id="username" type="text" name="username_field">
  <label>Password:</label>
  <input id="password" type="password" name="password_field">
  <input type="Submit" value="Login">
</form>