<div class="container text-center">
  <h3>Welcome to the BobBot Portal</h3>
  <hr>
  <form action="/login" , method="POST">
    <div class="container col-lg-4">
      <div class="form-group">
        <input class="form-control text-center" id="username" type="text" name="username_field" placeholder="Username" value={{username}}>
        {{#if username_error}}
        <p class="text-danger">{{username_error}}</p>
        {{/if}}
      </div>
    </div>

    <div class="container col-lg-4">
      <div class="form-group">
        <input class="form-control text-center" id="password" type="password" name="password_field" placeholder="Password">
        {{#if password_error}}
        <p class="text-danger">{{password_error}}</p>
        {{/if}}
      </div>
    </div>

    {{#if credentials_error}}
    <div class="container alert alert-danger col-lg-4" role="alert">
      {{credentials_error}}
    </div>
    {{/if}}

    <div class="container">
      <button class="btn btn-primary mb-2" id="login" type="submit">Login</button>
      <a class="btn btn-primary mb-2" id="signup" href="/signup">Signup</a>
    </div>
    <a class="btn btn-primary mb-2" id="forgot" href="/forgot">Forgot Password</a>
  </form>
</div>