<div class="container text-center">
  <h3>New Playlist</h3>
  <hr>
  <form action="/playlist/new", method="POST">
    <div class="container col-lg-4">
      <div class="form-group">
        <input class="form-control text-center" id="playlist" type="text" name="playlist_field" placeholder="Playlist Name">
        {{#if playlist_error}}
          <p class="text-danger">{{playlist_error}}</p>
        {{/if}}
      </div>
    </div>

    {{#if credentials_error}}
      <div class="container alert alert-danger col-lg-4" role="alert">
        {{credentials_error}}
      </div>
    {{/if}}

    <div class="container">
      <button class="btn btn-primary mb-2" id="create" type="submit">Create New Playlist</button>
      <a class="btn btn-primary mb-2" href="/home">Home</a>
    </form>
  </form>
</div>
