<div class="container text-center">
  <h3>Playlist - {{name}}</h3>
  <hr>
  <div class="contaienr">
    <div class="container">
      <a class="btn btn-primary mb-2" href="/home">Home</a>
    </div>
  </div>
</div>
