body {
    max-width: unset;
}

img {
    max-width: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.song {
    margin-top: 10px;
}

.checkbox {
    margin-right: 7px;
}

.div-sel-img {
    margin-right: 0px;
    padding-right: 0px;
    align-self: center;
}

.song-info-button {
    align-self: center;
}

.song-info-div {
    align-self: center;
}

.song-info-p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    margin-top: 10px;
}

#results {
    overflow-x: hidden;
    overflow-y: auto;
}

#songs {
    overflow-x: hidden;
    overflow-y: auto;
}

#wrapper {
    max-width: unset;
}
