img {
    max-width: 80%;
}

.song {
    margin-top: 10px;
}

.checkbox {
    margin-right: 7px;
}

.div-sel-img {
    margin-right: 0px;
    padding-right: 0px;
    align-self: center;
}

.song-info-p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.song-info-div {
    align-self: center;
}

#results {
    overflow-y: auto;
}
